Repository stencila/stencila: changes, and which Codecov flags are due for each by the changed paths.
All: CBOR, HTML, JATS, JSON, JSON5, JSON-LD, Markdown, Text, YAML, Node.js SDK, Python SDK

ci(releases): fixup workflow names
  .github/workflows/release-npm.yml
  .github/workflows/release-python.yml
Due: none

ci(python): setup python to specified version
  .github/workflows/release-python.yml
Due: none

chore(*): update generated files
  python/stencila_types/src/stencila_types/types.py
Due: Python SDK

ci(python): setup trusted publishing
  .github/workflows/release-python.yml
Due: none

ci(python): update action version; cd to right directory
  .github/workflows/release-python.yml
Due: none

ci(python): move position of if
  .github/workflows/release-python.yml
Due: none

feat(plugin): check that assistants work
  rust/plugins/src/check.rs
Due: none

ci(python): ensure uploaded wheels have different name for each os
  .github/workflows/release-python.yml
Due: none

refactor(web): rename function and type for consistency
  web/src/ui/nodes/icons-and-colours.ts
  web/src/ui/nodes/properties/authorship/authorship.ts
  web/src/ui/nodes/properties/code/utils.ts
Due: none

fix(default.css): remove overriding figcaption rules
  web/src/themes/default.css
Due: none

fix(dom html): encode `Table` nodes correctly
  examples/nodes/article-ark/article-ark.dom.html
  examples/nodes/article-labels/article-labels.dom.html
  examples/nodes/table/table.dom.html
  json/TableCell.schema.json
  json/TableRow.schema.json
  rust/codec-dom-trait/src/lib.rs
  rust/schema/src/implem/table.rs
  rust/schema/src/types/table_cell.rs
  rust/schema/src/types/table_row.rs
  schema/TableCell.yaml
  schema/TableRow.yaml
Due: none

fix(web): use slot for caption
  web/src/nodes/table.ts
  web/src/themes/default.css
Due: none

ci(python): fix issue when downloading multiple artifacts
  .github/workflows/release-python.yml
Due: none

refactor(html codec): remove unused `dom` option
  rust/codec-html-derive/src/lib.rs
  rust/codec-html-trait/src/lib.rs
  rust/codec-html/src/encode.rs
  rust/codec/src/lib.rs
  rust/server/src/documents.rs
Due: HTML

feat(markdown): encode `Datatable`s as tables
  json/Datatable.schema.json
  rust/schema/src/implem/table.rs
  rust/schema/src/types/datatable.rs
  schema/Datatable.yaml
Due: none

fix(schema gen): sort python `ANON_UNIONS` for determinism
  python/stencila_types/src/stencila_types/types.py
  rust/schema-gen/src/python.rs
Due: Python SDK

feat(codecs): add `--render` option and `render` CLI command; implement for Markdown
  rust/cli/src/cli.rs
  rust/codec-markdown-trait/src/lib.rs
  rust/codec-markdown/src/lib.rs
  rust/codec/src/lib.rs
  rust/schema/src/implem/call_block.rs
  rust/schema/src/implem/code_chunk.rs
  rust/schema/src/implem/code_expression.rs
  rust/schema/src/implem/datatable.rs
  rust/schema/src/implem/for_block.rs
  rust/schema/src/implem/if_block.rs
  rust/schema/src/implem/include_block.rs
  rust/schema/src/implem/instruction_block.rs
  rust/schema/src/implem/instruction_inline.rs
Due: Markdown

test(document sync): fix test
  rust/document/src/sync_object.rs
Due: none

chore(css): formatting
  web/src/themes/default.css
Due: none

chore(web): formatting
  web/src/ui/nodes/properties/authorship/authorship.ts
Due: none

chore(rust): linting and formatting
  rust/cli/src/cli.rs
  rust/codec-dom-trait/src/lib.rs
  rust/codec-markdown/src/decode/blocks.rs
  rust/codec/src/lib.rs
  rust/context/src/lib.rs
  rust/document/src/sync_file.rs
  rust/lsp/src/commands.rs
  rust/lsp/src/inspect.rs
  rust/node-execute/src/code_chunk.rs
  rust/node-execute/src/lib.rs
  rust/plugins/src/check.rs
  rust/schema/src/implem/cord.rs
  rust/schema/src/implem/datatable.rs
  rust/schema/src/implem/figure.rs
Due: none

chore(*): update generated files
  docs/reference/cli.md
  docs/reference/formats/markdown.md
  docs/reference/schema/data/datatable.md
  python/stencila/pdm.lock
  python/stencila_plugin/pdm.lock
Due: Python SDK

chore(tests): linting
  rust/document/src/sync_object.rs
Due: none

feat: subscribe paragraphs to their parent entities
  web/src/nodes/code-chunk.ts
  web/src/nodes/entity.ts
  web/src/nodes/executable.ts
  web/src/nodes/list.ts
  web/src/nodes/paragraph.ts
  web/src/nodes/quote-block.ts
  web/src/nodes/table.ts
  web/src/themes/default.css
Due: none

fix(authorship.ts): use the computed color to set opacity
  web/src/ui/nodes/properties/authorship/authorship.ts
Due: none

feat(schema): implement format aware diffing
  Cargo.lock
  rust/codec-markdown/tests/mapping.rs
  rust/document/src/lib.rs
  rust/document/src/sync_file.rs
  rust/document/src/sync_format.rs
  rust/document/src/sync_object.rs
  rust/document/src/task_update.rs
  rust/format/src/lib.rs
  rust/lsp/src/commands.rs
  rust/lsp/src/text_document.rs
  rust/node-execute/src/lib.rs
  rust/node-patch-derive/src/lib.rs
  rust/schema/Cargo.toml
  rust/schema/src/patch.rs
  rust/schema/src/prelude.rs
  rust/schema/tests/patch.rs
Due: none

refactor(paragraph.ts): render func and typings
  web/src/nodes/paragraph.ts
Due: none

refactor: remove current authorship tooltips
  web/src/nodes/code-chunk.ts
  web/src/nodes/entity.ts
  web/src/themes/default.css
  web/src/ui/nodes/properties/authorship/authorship.ts
Due: none

refactor(authroship): create new tooltip component
  web/src/ui/nodes/properties/authorship/authorship.ts
  web/src/ui/nodes/properties/authorship/index.ts
  web/src/ui/nodes/properties/authorship/tooltip.ts
Due: none

fix(): tooltip display in table provenance
  web/src/ui/nodes/properties/authorship/tooltip.ts
Due: none

chore: remove util class from tooltip
  web/src/ui/nodes/properties/authorship/tooltip.ts
Due: none

refactor(models): rename generic assistants to model
  Cargo.lock
  assistants/README.md
  assistants/builtin/insert-block-image.md
  assistants/builtin/insert-discussion.md
  assistants/builtin/insert-graphviz-figure.md
  assistants/builtin/insert-image-figure.md
  assistants/builtin/insert-paras.md
  node/stencila-plugin/src/assistant.ts
  python/stencila_plugin/src/stencila_plugin/assistant.py
  rust/assistant-anthropic/Cargo.toml
  rust/assistant-specialized/Cargo.toml
  rust/assistant-specialized/src/lib.rs
  rust/assistant/src/lib.rs
  rust/assistants/Cargo.toml
  rust/assistants/Makefile
  rust/assistants/src/lib.rs
  rust/cli/Cargo.toml
  rust/cli/src/cli.rs
  rust/model/Cargo.toml
  rust/model/src/jinja.rs
  rust/model/src/lib.rs
  rust/models-anthropic/Cargo.toml
  rust/models-anthropic/src/lib.rs
  rust/models-google/Cargo.toml
  rust/models-google/src/lib.rs
  rust/models-mistral/Cargo.toml
  rust/models-mistral/src/lib.rs
  rust/models-ollama/Cargo.toml
  rust/models-ollama/src/lib.rs
  rust/models-openai/Cargo.toml
  rust/models-openai/src/lib.rs
  rust/models/Cargo.toml
  rust/models/src/cli.rs
  rust/models/src/lib.rs
  rust/plugins/Cargo.toml
  rust/plugins/src/assistants.rs
  rust/plugins/src/check.rs
  rust/plugins/src/lib.rs
Due: Node.js SDK, Python SDK

refactor: remove base styles from inline elements
  web/src/nodes/code-expression.ts
  web/src/nodes/code-inline.ts
  web/src/nodes/math-inline.ts
  web/src/themes/default.css
  web/src/ui/nodes/node-card/on-demand/in-line.ts
Due: none

chore(rust): linting and fix test
  rust/assistant/src/lib.rs
  rust/assistants/tests/specialized.rs
  rust/plugins/src/assistants.rs
  rust/plugins/src/lib.rs
Due: none

test(node sdk): update snapshots for new cord serialization
  node/stencila-node/src/__snapshots__/convert.test.ts.snap
  node/stencila-node/src/convert.test.ts
Due: Node.js SDK

test(python): skip tests currently failing due to changes in serialization of cord
  python/stencila/python/tests/test_convert.py
Due: Python SDK

docs(code chunk): add note why custom implementation
  rust/schema/src/implem/code_chunk.rs
Due: none

feat(lsp): add an `lsp` command to the CLI
  Cargo.lock
  rust/cli/Cargo.toml
  rust/cli/src/cli.rs
  rust/cli/src/lib.rs
  rust/cli/src/main.rs
  rust/lsp/src/main.rs
  vscode/package.json
  vscode/src/extension.ts
Due: none

Path conditions:
  CBOR: any of: rust/codec-cbor/src/*
  HTML: any of: rust/codec-html*/src/*
  JATS: any of: rust/codec-jats*/src/*
  JSON: any of: rust/codec-json/src/*
  JSON5: any of: rust/codec-json5*/src/*
  JSON-LD: any of: rust/codec-jsonld/src/*
  Markdown: any of: rust/codec-markdown*/src/*
  Text: any of: rust/codec-text*/src/*
  YAML: any of: rust/codec-yaml/src/*
  Node.js SDK: any of: node/*, node/**/*
  Python SDK: any of: python/*, python/**/*
