Repository stencila/stencila: changes, and which Codecov flags are due for each by the changed paths.
All: CBOR, HTML, JATS, JSON, JSON5, JSON-LD, Markdown, Text, YAML, Node.js SDK, Python SDK

fix(Schema): `ModifyOperation` extends `Entity`
  docs/reference/schema/edits/modify-operation.md
  docs/reference/schema/other/entity.md
  json/ModifyOperation.jsonld
  json/ModifyOperation.schema.json
  python/python/stencila/types/modify_operation.py
  rust/schema/src/types/modify_operation.rs
  schema/ModifyOperation.yaml
  typescript/src/types/ModifyOperation.ts
Due: Python SDK

fix(Web): Fix for rename to `CompilationDigest`
  web/src/components/nodes/executable.ts
Due: none

chore(Web): Run `tsc` on `npm fix` and `npm lint`
  web/package.json
  web/tsconfig.json
Due: none

chore(Web): Improve `clean` recipe and run before `build`
  web/Makefile
Due: none

chore(*): Update benchmark data
  docs/develop/benchmarks/data.json
Due: none

chore(Web): Remove unused CSS rule
  web/src/views/visual.css
Due: none

fix(CLI): Translate formats for extensions for syntax highlighting
  rust/cli/src/display.rs
Due: none

fix(Rust): Upgrade dependencies
  Cargo.lock
  rust/common/Cargo.toml
Due: none

schema(StringPatch): Remove unused `version` property
  docs/reference/schema/edits/string-patch.md
  json/StringPatch.jsonld
  json/StringPatch.schema.json
  python/python/stencila/types/string_patch.py
  rust/schema/src/types/string_patch.rs
  schema/StringPatch.yaml
  typescript/src/types/StringPatch.ts
Due: Python SDK

chore(JSON): Update generated files
  json/Article.jsonld
  json/AudioObject.jsonld
  json/Claim.jsonld
  json/Collection.jsonld
  json/Comment.jsonld
  json/CreativeWork.jsonld
  json/Datatable.jsonld
  json/Directory.jsonld
  json/Figure.jsonld
  json/File.jsonld
  json/ImageObject.jsonld
  json/MediaObject.jsonld
  json/Parameter.schema.json
  json/Periodical.jsonld
  json/PublicationIssue.jsonld
  json/PublicationVolume.jsonld
  json/Review.jsonld
  json/SoftwareApplication.jsonld
  json/SoftwareSourceCode.jsonld
  json/Table.jsonld
  json/VideoObject.jsonld
Due: none

fix(Python SDK): Upgrade `dataclasses`
  python/poetry.lock
  python/pyproject.toml
Due: Python SDK

wip(Parameter): Initial iteration of special function for HTML
  docs/reference/formats/html.md
  docs/reference/schema/flow/parameter.md
  rust/schema/src/implem/parameter.rs
  rust/schema/src/types/parameter.rs
  schema/Parameter.yaml
Due: none

test(Examples): Update examples
  examples/nodes/article-ark/article-ark.compact.html
  examples/nodes/article-ark/article-ark.html
  examples/nodes/article-ark/article-ark.standalone.html
  examples/nodes/modify-block/modify-block.cbor
  examples/nodes/modify-block/modify-block.cbor.zst
  examples/nodes/modify-block/modify-block.compact.html
  examples/nodes/modify-block/modify-block.compact.json5
  examples/nodes/modify-block/modify-block.compact.jsonld
  examples/nodes/modify-block/modify-block.html
  examples/nodes/modify-block/modify-block.json5
  examples/nodes/modify-block/modify-block.jsonld
  examples/nodes/modify-block/modify-block.standalone.html
  examples/nodes/modify-block/modify-block.yaml
  examples/nodes/modify-inline/modify-inline.cbor
  examples/nodes/modify-inline/modify-inline.cbor.zst
  examples/nodes/modify-inline/modify-inline.compact.html
  examples/nodes/modify-inline/modify-inline.compact.json5
  examples/nodes/modify-inline/modify-inline.compact.jsonld
  examples/nodes/modify-inline/modify-inline.html
  examples/nodes/modify-inline/modify-inline.json5
  examples/nodes/modify-inline/modify-inline.jsonld
  examples/nodes/modify-inline/modify-inline.standalone.html
  examples/nodes/modify-inline/modify-inline.yaml
  examples/nodes/parameter/parameter.compact.html
  examples/nodes/parameter/parameter.html
  examples/nodes/parameter/parameter.standalone.html
  examples/nodes/styled-block/styled-block.compact.html
  examples/nodes/styled-block/styled-block.html
  examples/nodes/styled-block/styled-block.standalone.html
Due: none

feat(Document): Add `sync_nodes`
  rust/document/src/lib.rs
  rust/document/src/sync_format.rs
  rust/document/src/sync_nodes.rs
  rust/server/src/server.rs
Due: none

wip(Web): Document views
  web/.eslintrc.json
  web/Makefile
  web/README.md
  web/package.json
  web/src/capability.ts
  web/src/clients/client.ts
  web/src/clients/codemirror.ts
  web/src/clients/dom.ts
  web/src/clients/format.ts
  web/src/clients/index.ts
  web/src/clients/nodes.ts
  web/src/clients/prosemirror.ts
  web/src/clients/test.html
  web/src/components/nodes/entity.ts
  web/src/components/nodes/parameter.ts
  web/src/ids.ts
  web/src/index.ts
  web/src/views/dynamic.css
  web/src/views/dynamic.ts
  web/src/views/live.css
  web/src/views/live.ts
  web/src/views/source.css
  web/src/views/source.ts
  web/src/views/static.css
  web/src/views/visual.css
  web/src/views/visual.ts
  web/src/views/visual/blocks.ts
  web/src/views/visual/inlines.ts
  web/src/views/visual/marks.ts
  web/src/views/visual/prelude.ts
  web/src/views/visual/schemas.ts
  web/src/views/visual/works.ts
Due: none

fix(Web): Upgrade `codemirror`
  package-lock.json
  web/package.json
Due: none

chore(NPM): Add `eslint-plugin-import`
  .vscode/settings.json
  package-lock.json
  package.json
Due: none

chore(NPM): Update dev dependencies
  package.json
Due: none

chore(Rust): Linting
  rust/document/src/sync_nodes.rs
  rust/schema/src/implem/parameter.rs
  rust/server/src/server.rs
Due: none

fix(Codecs): Add back line endings when input from stdin
  rust/codecs/src/lib.rs
Due: none

fix(Server): Upgrade `axum`
  Cargo.lock
  rust/server/Cargo.toml
  rust/server/src/server.rs
Due: none

refactor(Web): Uplift `nodes` to own dir
  web/src/components/index.ts
  web/src/nodes/code-chunk.ts
  web/src/nodes/code-executable.ts
  web/src/nodes/code-expression.ts
  web/src/nodes/entity.ts
  web/src/nodes/executable.ts
  web/src/nodes/for.ts
  web/src/nodes/if-clause.ts
  web/src/nodes/if.ts
  web/src/nodes/include.ts
  web/src/nodes/index.ts
  web/src/nodes/parameter.ts
  web/src/views/dynamic.ts
  web/src/views/visual.ts
Due: none

chore(NPM): Update `package-lock.json`
  package-lock.json
Due: none

refactor(Server): Renames and add view attributes
  rust/server/src/server.rs
Due: none

wip(Sync nodes): Define `NodePatch`
  rust/document/src/sync_nodes.rs
Due: none

refactor(Schema gen): Remove `custom` option for HTML
  rust/codec-html-derive/src/lib.rs
  rust/schema-gen/src/rust.rs
  rust/schema-gen/src/schema.rs
Due: HTML

chore(Settings): Update
  .vscode/extensions.json
  .vscode/settings.json
Due: none

refactor(Web): Various refactoring, docs and implems
  package-lock.json
  web/package.json
  web/src/capability.ts
  web/src/clients/client.ts
  web/src/clients/codemirror.ts
  web/src/clients/dom.ts
  web/src/clients/format.ts
  web/src/clients/nodes.ts
  web/src/clients/prosemirror.ts
  web/src/ids.ts
  web/src/nodes/entity.ts
  web/src/nodes/executable.ts
  web/src/nodes/if-block-clause.ts
  web/src/nodes/if-block.ts
  web/src/nodes/if-clause.ts
  web/src/nodes/if.ts
  web/src/nodes/index.ts
  web/src/nodes/parameter.ts
  web/src/twind.ts
  web/src/types.ts
  web/src/views/dynamic.ts
  web/src/views/source.ts
  web/src/views/static.ts
  web/src/views/visual.ts
  web/src/views/visual/blocks.ts
  web/src/views/visual/inlines.ts
  web/src/views/visual/prelude.ts
  web/src/views/visual/schemas.ts
Due: none

chore(Schema): Remove `custom` for HTML and regen files
  docs/reference/formats/html.md
  docs/reference/schema/code/code-chunk.md
  docs/reference/schema/code/code-expression.md
  docs/reference/schema/flow/for-block.md
  docs/reference/schema/flow/if-block-clause.md
  docs/reference/schema/flow/if-block.md
  docs/reference/schema/flow/include-block.md
  json/CodeChunk.schema.json
  json/CodeExpression.schema.json
  json/ForBlock.schema.json
  json/IfBlock.jsonld
  json/IfBlock.schema.json
  json/IfBlockClause.jsonld
  json/IfBlockClause.schema.json
  json/IncludeBlock.schema.json
  json/meta.schema.json
  python/python/stencila/types/if_block.py
  python/python/stencila/types/if_block_clause.py
  rust/schema/src/implem/if_block.rs
  rust/schema/src/types/code_chunk.rs
  rust/schema/src/types/code_expression.rs
  rust/schema/src/types/for_block.rs
  rust/schema/src/types/if_block.rs
  rust/schema/src/types/if_block_clause.rs
  rust/schema/src/types/include_block.rs
  schema/CodeChunk.yaml
  schema/CodeExpression.yaml
  schema/ForBlock.yaml
  schema/IfBlock.yaml
  schema/IfBlockClause.yaml
  schema/IncludeBlock.yaml
  typescript/src/types/IfBlock.ts
  typescript/src/types/IfBlockClause.ts
Due: Python SDK

chore(Renovate): Exclude `typescript` from group
  renovate.json
Due: none

chore(Node SDK): Use `eslint-plugin-import`
  node/.eslintrc.json
  node/src/bench.ts
  node/src/convert.bench.ts
  node/src/convert.test.ts
  node/src/convert.ts
  node/src/index.ts
Due: Node.js SDK

chore(Codecs): Upgrade `divan`
  Cargo.lock
  rust/codecs/Cargo.toml
Due: none

chore(Python SDK): Upgrade `maturin`
  python/poetry.lock
  python/pyproject.toml
Due: Python SDK

chore(NPM): Update dev dependencies
  package-lock.json
  package.json
Due: none

test(Examples): Update examples for changes to HTML encoding
  examples/nodes/article-ark/article-ark.compact.html
  examples/nodes/article-ark/article-ark.html
  examples/nodes/article-ark/article-ark.standalone.html
  examples/nodes/code-chunk/code-chunk.compact.html
  examples/nodes/code-chunk/code-chunk.html
  examples/nodes/code-chunk/code-chunk.standalone.html
  examples/nodes/code-expression/code-expression.compact.html
  examples/nodes/code-expression/code-expression.html
  examples/nodes/code-expression/code-expression.standalone.html
  examples/nodes/delete-inline/delete-inline.compact.html
  examples/nodes/delete-inline/delete-inline.html
  examples/nodes/delete-inline/delete-inline.standalone.html
  examples/nodes/for-block/for-block.compact.html
  examples/nodes/for-block/for-block.html
  examples/nodes/for-block/for-block.standalone.html
  examples/nodes/if-block/if-block.compact.html
  examples/nodes/if-block/if-block.html
  examples/nodes/if-block/if-block.md
  examples/nodes/if-block/if-block.standalone.html
  examples/nodes/include-block/include-block.compact.html
  examples/nodes/include-block/include-block.html
  examples/nodes/include-block/include-block.standalone.html
  examples/nodes/insert-inline/insert-inline.compact.html
  examples/nodes/insert-inline/insert-inline.html
  examples/nodes/insert-inline/insert-inline.standalone.html
  examples/nodes/modify-block/modify-block.compact.html
  examples/nodes/modify-block/modify-block.html
  examples/nodes/modify-block/modify-block.standalone.html
Due: none

Path conditions:
  CBOR: any of: rust/codec-cbor/src/*
  HTML: any of: rust/codec-html*/src/*
  JATS: any of: rust/codec-jats*/src/*
  JSON: any of: rust/codec-json/src/*
  JSON5: any of: rust/codec-json5*/src/*
  JSON-LD: any of: rust/codec-jsonld/src/*
  Markdown: any of: rust/codec-markdown*/src/*
  Text: any of: rust/codec-text*/src/*
  YAML: any of: rust/codec-yaml/src/*
  Node.js SDK: any of: node/*, node/**/*
  Python SDK: any of: python/*, python/**/*
