Repository stencila/stencila: changes, and which Codecov flags are due for each by the changed paths.
All: CBOR, HTML, JATS, JSON, JSON5, JSON-LD, Markdown, Text, YAML, Node.js SDK, Python SDK

codecov.yml:

comment:
  layout: "header, flags, diff, components"

component_management:
  individual_components:
    - component_id: codec_cbor
      name: CBOR
      paths:
        - rust/codec-cbor/src/*

    - component_id: codec_html
      name: HTML
      paths:
        - rust/codec-html*/src/*

    - component_id: codec_jats
      name: JATS
      paths:
        - rust/codec-jats*/src/*

    - component_id: codec_json
      name: JSON
      paths:
        - rust/codec-json/src/*

    - component_id: codec_json5
      name: JSON5
      paths:
        - rust/codec-json5*/src/*

    - component_id: codec_jsonld
      name: JSON-LD
      paths:
        - rust/codec-jsonld/src/*

    - component_id: codec_markdown
      name: Markdown
      paths:
        - rust/codec-markdown*/src/*

    - component_id: codec_text
      name: Text
      paths:
        - rust/codec-text*/src/*

    - component_id: codec_yaml
      name: YAML
      paths:
        - rust/codec-yaml/src/*

    - component_id: sdk_node
      name: Node.js SDK
      paths:
        - node/*
        - node/**/*

    - component_id: sdk_python
      name: Python SDK
      paths:
        - python/*
        - python/**/*

fix(assistants): improve `insert-code-figure`
  assistants/builtin/insert-code-figure.md
Due: none

feat(python): initial cut of assistants
  python/stencila_plugin/src/stencila_plugin/assistant.py
  python/stencila_plugin/src/stencila_plugin/plugin.py
Due: Python SDK

fix: reconstruct wrapped stencila types from json
  python/stencila_types/pyproject.toml
  python/stencila_types/src/stencila_types/types.py
  python/stencila_types/src/stencila_types/utilities.py
  python/stencila_types/tests/test_types.py
  rust/schema-gen/src/python.rs
Due: Python SDK

fix(python): update assistant with new types
  python/stencila_plugin/src/stencila_plugin/__init__.py
  python/stencila_plugin/src/stencila_plugin/assistant.py
  python/stencila_plugin/src/stencila_plugin/plugin.py
  python/stencila_plugin/tests/plugin_example.py
  python/stencila_plugin/tests/test_plugin.py
Due: Python SDK

chore(python): bump types
  python/stencila_types/pyproject.toml
Due: Python SDK

chore(python): bump plugin
  python/stencila_plugin/pdm.lock
  python/stencila_plugin/pyproject.toml
Due: Python SDK

refactor(walkthrough): split krebs into three steps
  vscode/walkthroughs/krebs/step1.md
  vscode/walkthroughs/krebs/step2.md
  vscode/walkthroughs/krebs/step3.md
Due: none

chore(python): bump plugin
  python/stencila_plugin/pdm.lock
  python/stencila_plugin/pyproject.toml
  python/stencila_types/pyproject.toml
Due: Python SDK

feat(assistants): more assistants for data analysis and writing
  assistants/builtin/insert-code-methods.md
  assistants/builtin/insert-discussion.md
  assistants/builtin/write-r-data-analysis.md
Due: none

feat(vscode): add fire data walkthrough
  vscode/walkthroughs/fires/main.yaml
  vscode/walkthroughs/fires/step1.md
  vscode/walkthroughs/fires/step2.md
  vscode/walkthroughs/fires/step3.md
  vscode/walkthroughs/fires/step4.md
Due: none

feat: style captions for fig and codechunk
  web/src/nodes/code-chunk.ts
  web/src/nodes/figure.ts
  web/src/nodes/table.ts
  web/src/themes/default.css
  web/src/ui/nodes/properties/captions/caption-label.ts
  web/src/ui/nodes/properties/captions/index.ts
Due: none

docs(vscode extension): reduce length of paragraph
  vscode/walkthroughs/fires/step2.md
Due: none

chore(python/stencila): upgrade dev dependencies
  python/stencila/pdm.lock
  python/stencila/pyproject.toml
Due: Python SDK

fix(python/stencila): upgrade `requests`
  python/stencila/pdm.lock
Due: Python SDK

test(markdown codec): redact timestamps for deterministic snapshots
  rust/codec-markdown/tests/mapping.rs
  rust/codec-markdown/tests/snapshots/mapping__code_chunk.snap
  rust/codec-markdown/tests/snapshots/mapping__paragraph.snap
Due: none

chore(typescript): ignore generated file
  ts/.prettierignore
Due: none

test(markdown codec): update snapshot for new simplified author at article level
  rust/codec-markdown/tests/mapping.rs
Due: none

feat(node stripping): add a `Timestamps` strip scope
  json/Article.schema.json
  json/AuthorRole.schema.json
  json/Button.schema.json
  json/CallArgument.schema.json
  json/CallBlock.schema.json
  json/CodeChunk.schema.json
  json/CodeExecutable.schema.json
  json/CodeExpression.schema.json
  json/Executable.schema.json
  json/ForBlock.schema.json
  json/Form.schema.json
  json/IfBlock.schema.json
  json/IfBlockClause.schema.json
  json/IncludeBlock.schema.json
  json/Instruction.schema.json
  json/InstructionBlock.schema.json
  json/InstructionInline.schema.json
  json/Parameter.schema.json
  json/meta.schema.json
  rust/node-strip-derive/src/lib.rs
  rust/node-strip/src/lib.rs
  rust/schema-gen/src/schema.rs
  rust/schema/src/types/article.rs
  rust/schema/src/types/author_role.rs
  rust/schema/src/types/button.rs
  rust/schema/src/types/call_argument.rs
  rust/schema/src/types/call_block.rs
  rust/schema/src/types/code_chunk.rs
  rust/schema/src/types/code_expression.rs
  rust/schema/src/types/for_block.rs
  rust/schema/src/types/form.rs
  rust/schema/src/types/if_block.rs
  rust/schema/src/types/if_block_clause.rs
  rust/schema/src/types/include_block.rs
  rust/schema/src/types/instruction_block.rs
  rust/schema/src/types/instruction_inline.rs
  rust/schema/src/types/parameter.rs
  schema/AuthorRole.yaml
  schema/Executable.yaml
Due: none

test(schema): strip timestamps for determinism in tests
  rust/schema/tests/patch.rs
Due: none

chore(*): update generated files
  docs/reference/cli.md
  docs/reference/schema/code/code-chunk.md
  docs/reference/schema/math/math-block.md
  docs/reference/schema/works/figure.md
  docs/reference/schema/works/table.md
Due: none

feat(togglechip): chips remain visible, and added collapse icon
  web/src/ui/nodes/mixins/toggle-chip.ts
Due: none

feat(web): add `depth` and `ancestors` attributes to `Entity`
  web/src/nodes/entity.ts
Due: none

fix(toggle-chip): fix positioning of toggle chip
  web/src/ui/nodes/mixins/toggle-chip.ts
  web/src/ui/nodes/node-card/on-demand/block.ts
Due: none

refactor(dom html): add label to captions of `Table`, `Figure`, and `CodeChunk`
  examples/nodes/article-ark/article-ark.dom.html
  examples/nodes/article-labels/article-labels.dom.html
  examples/nodes/code-chunk/code-chunk.dom.html
  examples/nodes/figure/figure.dom.html
  examples/nodes/table/table.dom.html
  json/CodeChunk.schema.json
  json/Figure.schema.json
  json/Table.schema.json
  rust/schema/src/implem/code_chunk.rs
  rust/schema/src/implem/figure.rs
  rust/schema/src/implem/mod.rs
  rust/schema/src/implem/table.rs
  rust/schema/src/implem/utils.rs
  rust/schema/src/types/code_chunk.rs
  rust/schema/src/types/figure.rs
  rust/schema/src/types/table.rs
  schema/CodeChunk.yaml
  schema/Figure.yaml
  schema/Table.yaml
Due: none

chore(togglechip): chagne chevron dir on node chip
  web/src/ui/nodes/mixins/toggle-chip.ts
  web/src/ui/nodes/node-card/on-demand/block.ts
Due: none

fix(inline card): reposition chip for inline card
  web/src/ui/nodes/node-card/on-demand/in-line.ts
Due: none

wip: apply styles to cpations & figcaptions
  web/src/nodes/code-chunk.ts
  web/src/nodes/table.ts
  web/src/themes/default.css
Due: none

refactor: swap provenance bg color to text opacity
  web/src/ui/nodes/icons-and-colours.ts
  web/src/ui/nodes/properties/authorship/authorship.ts
  web/src/ui/nodes/properties/code/utils.ts
Due: none

fix(table): make `caption` a sibling of `rows`
  rust/schema/src/implem/table.rs
Due: none

feat: apply styles to fig & table caption
  web/src/nodes/table.ts
  web/src/themes/default.css
Due: none

chore(*): update generated files
  python/stencila_types/src/stencila_types/types.py
Due: Python SDK

chore(python packages): add script to bump package versions
  Cargo.lock
  python/stencila/Cargo.toml
  python/stencila/pyproject.toml
  python/stencila_plugin/pyproject.toml
  python/stencila_types/pyproject.toml
  scripts/bump-python-versions.sh
  scripts/bump-version.sh
Due: Python SDK

chore(npm packages): add script to bump package versions
  Cargo.lock
  node/stencila-node/Cargo.toml
  node/stencila-node/package.json
  node/stencila-plugin/package.json
  package-lock.json
  scripts/bump-cli-version.sh
  scripts/bump-npm-versions.sh
  scripts/bump-version.sh
  ts/package.json
  web/package.json
Due: Node.js SDK

refactor: show provenance with text opacity
  web/src/ui/nodes/properties/authorship/authorship.ts
  web/src/ui/nodes/properties/code/utils.ts
Due: none

ci(python): split out python workflows
  .github/workflows/install-python.yml
  .github/workflows/release-python.yml
Due: none

fix(python): allow null for empty params in RPC + bump types
  python/stencila_plugin/src/stencila_plugin/plugin.py
  python/stencila_plugin/src/stencila_plugin/testing.py
  python/stencila_types/src/stencila_types/types.py
Due: Python SDK

ci(python): remove unused python versions
  .github/workflows/install-python.yml
Due: none

ci(npm packages): add separate release and install workflows
  .github/workflows/install-npm.yml
  .github/workflows/release-npm.yml
  node/stencila-node/install.cjs
Due: Node.js SDK

ci(cli): separate CLI workflows
  .github/workflows/install-cli.yml
  .github/workflows/install.yml
  .github/workflows/release-cli.yml
  .github/workflows/release.yml
  .github/workflows/version.yml
Due: none
