Repository stencila/stencila: changes, and which Codecov flags are due for each by the changed paths.
All: CBOR, HTML, JATS, JSON, JSON5, JSON-LD, Markdown, Text, YAML, Node.js SDK, Python SDK

codecov.yml:

comment:
  layout: "header, flags, diff, components"

component_management:
  individual_components:
    - component_id: codec_cbor
      name: CBOR
      paths:
        - rust/codec-cbor/src/*

    - component_id: codec_html
      name: HTML
      paths:
        - rust/codec-html*/src/*

    - component_id: codec_jats
      name: JATS
      paths:
        - rust/codec-jats*/src/*

    - component_id: codec_json
      name: JSON
      paths:
        - rust/codec-json/src/*

    - component_id: codec_json5
      name: JSON5
      paths:
        - rust/codec-json5*/src/*

    - component_id: codec_jsonld
      name: JSON-LD
      paths:
        - rust/codec-jsonld/src/*

    - component_id: codec_markdown
      name: Markdown
      paths:
        - rust/codec-markdown*/src/*

    - component_id: codec_text
      name: Text
      paths:
        - rust/codec-text*/src/*

    - component_id: codec_yaml
      name: YAML
      paths:
        - rust/codec-yaml/src/*

    - component_id: sdk_node
      name: Node.js SDK
      paths:
        - node/*
        - node/**/*

    - component_id: sdk_python
      name: Python SDK
      paths:
        - python/*
        - python/**/*

fix(theme): use correct root selector
  web/src/themes/default.css
Due: none

chore(web): formatting
  web/src/ui/nodes/properties/execution-details.ts
Due: none

fix(python/stencila): upgrade dependencies
  python/stencila/pyproject.toml
Due: Python SDK

test(stencila-node): update test fixture
  node/stencila-node/src/__snapshots__/convert.test.ts.snap
Due: Node.js SDK

test(python/stencila): update test assertion for article ending newline
  python/stencila/python/tests/test_convert.py
Due: Python SDK

chore(stencila-node): upgrade dev dependency
  node/stencila-node/package.json
Due: Node.js SDK

test(document): update for newline at end of article
  rust/document/src/sync_format.rs
Due: none

chore(rust): linting
  rust/codec-info/src/lib.rs
  rust/codec-info/src/poshmap.rs
  rust/codec-markdown/tests/poshmap.rs
  rust/lsp/src/code_lens.rs
  rust/lsp/src/commands.rs
  rust/lsp/src/document_symbol.rs
  rust/lsp/src/inspect.rs
  rust/lsp/src/lib.rs
  rust/lsp/src/main.rs
  rust/lsp/src/text_document.rs
  rust/node-map/src/lib.rs
  rust/schema/src/implem/call_block.rs
  rust/server/src/documents.rs
Due: none

fix(rust): upgrade dependencies
  Cargo.lock
  Cargo.toml
  rust/assistant-google/Cargo.toml
  rust/assistant-mistral/Cargo.toml
  rust/assistant-openai/Cargo.toml
  rust/assistant-specialized/Cargo.toml
  rust/codec-markdown/Cargo.toml
  rust/common/Cargo.toml
  rust/parsers/Cargo.toml
  rust/schema-gen/Cargo.toml
  rust/schema/Cargo.toml
  rust/status/Cargo.toml
Due: none

chore(rust): linting
  rust/server/src/documents.rs
Due: none

chore(npm): update package-lock.json
  package-lock.json
Due: none

chore(document): linting
  rust/lsp/src/document_symbol.rs
Due: none

chore(rust): revert commenting out of `python/stencila` crate
  Cargo.lock
  Cargo.toml
Due: none

refactor(styled nodes): wrap CSS in browser, not in Rust
  rust/kernel-style/src/lib.rs
  web/src/nodes/styled-block.ts
  web/src/nodes/styled.ts
Due: none

fix(html): improve encoding of styled nodes in standalone HTML
  json/StyledBlock.schema.json
  json/StyledInline.schema.json
  rust/codec-dom-trait/src/lib.rs
  rust/codec-dom/src/lib.rs
  rust/kernel-style/src/lib.rs
  rust/schema/src/implem/styled_block.rs
  rust/schema/src/implem/styled_inline.rs
  rust/schema/src/types/styled_block.rs
  rust/schema/src/types/styled_inline.rs
  schema/StyledBlock.yaml
  schema/StyledInline.yaml
Due: none

feat(vscode extension): add highlighting for styled blocks and inlines
  vscode/package.json
  vscode/syntaxes/smd/tmGrammar.yaml
Due: none

fix(style kernel): do not use colon to differentiate CSS
  rust/kernel-style/src/lib.rs
Due: none

refactor(jats codec): tidy ups
  rust/codec-jats/src/decode/mod.rs
  rust/codec-jats/src/lib.rs
Due: JATS

wip(html codec): initial iteration of decoding of html
  Cargo.lock
  rust/codec-html/Cargo.toml
  rust/codec-html/src/decode.rs
  rust/codec-html/src/encode.rs
  rust/codec-html/src/lib.rs
Due: HTML

chore(specialized assistant): update documentation
  rust/assistant-specialized/src/lib.rs
Due: none

wip(assistants): initial iteration of assistants for styled nodes
  assistants/builtin/edit-styled-blocks.md
  assistants/builtin/insert-styled-blocks.md
  examples/assistants/edit-styled-blocks/no-content.md
  examples/assistants/insert-styled-blocks/no-content.md
Due: none

fix(html codec): change `supports_from_format` to `HighLoss`
  rust/codec-html/src/encode.rs
  rust/codec-html/src/lib.rs
  rust/codecs/tests/snapshots/specs__specs.snap
Due: HTML

chore(style kernel): formatting
  rust/kernel-style/src/lib.rs
Due: none

chore(stencila-node): ignore unused
  node/stencila-node/package.json
Due: Node.js SDK

fix: included shoelaces stylesheet for nodes
  rust/server/src/documents.rs
  web/package.json
Due: none

fix(vscode extension): add details to outline view
  Cargo.lock
  rust/lsp/Cargo.toml
  rust/lsp/src/document_symbol.rs
  rust/lsp/src/inspect.rs
  rust/lsp/src/text_document.rs
  vscode/src/fixtures/syntax.smd
Due: none

fix: swap code and insert to on demand
  vscode/src/extension.ts
  web/src/nodes/code-chunk.ts
  web/src/nodes/heading.ts
  web/src/nodes/image-object.ts
  web/src/nodes/index.ts
  web/src/nodes/instruction-inline.ts
  web/src/nodes/instruction.ts
  web/src/nodes/list.ts
  web/src/nodes/math-inline.ts
  web/src/themes/default.css
  web/src/views/styles/global-styles.ts
Due: none

feat(assistants): ass `is_available` and `description` methods
  rust/assistant-specialized/src/lib.rs
  rust/assistant/src/lib.rs
Due: none

feat(lsp): add completions for assistants
  Cargo.lock
  rust/codecs/src/lib.rs
  rust/lsp/Cargo.toml
  rust/lsp/src/completion.rs
  rust/lsp/src/inspect.rs
  rust/lsp/src/lib.rs
  rust/lsp/src/lifecycle.rs
  rust/lsp/src/run.rs
  rust/lsp/src/text_document.rs
  rust/lsp/src/utils.rs
Due: none

fix(python): update dependencies
  python/stencila/pdm.lock
Due: Python SDK

refactor(assistants): add arg to allow getting only local assistants
  rust/assistants/src/cli.rs
  rust/assistants/src/lib.rs
Due: none

fix(lsp): use completion kind appropriate to assistant
  rust/lsp/src/completion.rs
Due: none

refactor(web-nodes): switch more block nodes to on demand
  web/src/nodes/code-block.ts
  web/src/nodes/include-block.ts
  web/src/nodes/math-block.ts
  web/src/nodes/styled-block.ts
Due: none

fix(default-theme): initial setup of the default theme
  rust/server/src/documents.rs
  web/package.json
  web/src/themes/default.css
  web/src/themes/shared.css
  web/src/themes/tufte.css
  web/src/ui/nodes/node-card/on-demand/block.ts
  web/src/ui/nodes/node-card/on-demand/in-line.ts
  web/src/ui/nodes/properties/suggestion.ts
Due: none

fix(default-theme): minor css tweak to paragraph margins
  web/src/themes/default.css
Due: none

fix(web): remove unused imports
  rust/server/src/documents.rs
  web/package.json
  web/src/nodes/instruction-inline.ts
  web/src/nodes/math-block.ts
Due: none

refactor(web): apply on demand to for and if blocks
  web/src/nodes/for-block.ts
  web/src/nodes/if-block-clause.ts
  web/src/nodes/if-block.ts
Due: none

refactor(node patching): add `Patch` with node_id and authors
  rust/node-patch-derive/src/lib.rs
  rust/schema/src/implem/cord.rs
  rust/schema/src/patch.rs
  rust/schema/src/prelude.rs
  rust/schema/tests/patch.rs
  rust/schema/tests/snapshots/patch__instruction-modify-inline.snap
Due: none

refactor(node ids): allow cloning of `NodeUid` but provide `replicate` function
  rust/node-id/src/lib.rs
  rust/schema/src/lib.rs
  rust/schema/src/replicate.rs
Due: none

fix(node patching): use `replicate` when doing a `Copy` operation on a `Vec`
  rust/schema/src/patch.rs
  rust/schema/src/replicate.rs
  rust/schema/tests/cord.rs
Due: none
