Repository stencila/stencila: changes, and which Codecov flags are due for each by the changed paths.
All: CBOR, HTML, JATS, JSON, JSON5, JSON-LD, Markdown, Text, YAML, Node.js SDK, Python SDK

codecov.yml:

comment:
  layout: "header, flags, diff, components"

component_management:
  individual_components:
    - component_id: codec_cbor
      name: CBOR
      paths:
        - rust/codec-cbor/src/*

    - component_id: codec_html
      name: HTML
      paths:
        - rust/codec-html*/src/*

    - component_id: codec_jats
      name: JATS
      paths:
        - rust/codec-jats*/src/*

    - component_id: codec_json
      name: JSON
      paths:
        - rust/codec-json/src/*

    - component_id: codec_json5
      name: JSON5
      paths:
        - rust/codec-json5*/src/*

    - component_id: codec_jsonld
      name: JSON-LD
      paths:
        - rust/codec-jsonld/src/*

    - component_id: codec_markdown
      name: Markdown
      paths:
        - rust/codec-markdown*/src/*

    - component_id: codec_text
      name: Text
      paths:
        - rust/codec-text*/src/*

    - component_id: codec_yaml
      name: YAML
      paths:
        - rust/codec-yaml/src/*

    - component_id: sdk_node
      name: Node.js SDK
      paths:
        - node/*
        - node/**/*

    - component_id: sdk_python
      name: Python SDK
      paths:
        - python/*
        - python/**/*

refactor(node execution): use `execution_mode`
  rust/node-execute/src/code_chunk.rs
  rust/node-execute/src/code_expression.rs
  rust/node-execute/src/for_block.rs
  rust/node-execute/src/if_block.rs
  rust/node-execute/src/include_block.rs
  rust/node-execute/src/lib.rs
Due: none

chore(vscode extension): add execution mode keywords
  vscode/syntaxes/smd/tmGrammar.yaml
Due: none

refactor(lsp): remove lock/unlock lens for and use context menu instead
  rust/lsp/src/code_lens.rs
  rust/lsp/src/commands.rs
  vscode/package.json
  vscode/src/commands.ts
Due: none

fix(lsp): prioritize pending or running status
  rust/lsp/src/diagnostics.rs
Due: none

refactor(lsp): simplify command names
  rust/lsp/src/commands.rs
  vscode/src/commands.ts
Due: none

fix(vscode extension): improve titles and key bindings
  vscode/package.json
Due: none

fix(lsp): retrieve the deepest node at position
  rust/lsp/src/text_document.rs
Due: none

refactor(schema): add `Locked` variant to indicate node that was skipped because locked
  json/ExecutionStatus.schema.json
  python/stencila_types/src/stencila_types/types.py
  rust/schema/src/types/execution_status.rs
  schema/ExecutionStatus.yaml
  ts/src/types/ExecutionStatus.ts
Due: Python SDK

feat(lsp): add status update for skipped nodes
  rust/lsp/src/diagnostics.rs
  rust/lsp/src/inspect.rs
  rust/lsp/src/text_document.rs
  vscode/src/decorations.ts
  vscode/src/notifications.ts
Due: none

feat(myst plugin): initial scaffolding for encoding to MyST
  plugins/myst/src/encode/blocks.ts
  plugins/myst/src/encode/encode.test.ts
  plugins/myst/src/encode/encoder.ts
  plugins/myst/src/encode/index.ts
  plugins/myst/src/encode/inlines.ts
  plugins/myst/src/encode/node.ts
  plugins/myst/src/fixtures/paras.json
  plugins/myst/src/index.ts
  plugins/myst/src/snapshots/paras.map
  plugins/myst/src/snapshots/paras.md
Due: none

feat(myst plugin): add blank lines after blocks were required
  plugins/myst/src/encode/blocks.ts
  plugins/myst/src/snapshots/code.map
  plugins/myst/src/snapshots/myst-sample.map
  plugins/myst/src/snapshots/myst-sample.md
Due: none

fix(node plugin): default to using stdio as transport
  node/stencila-plugin/src/plugin.ts
Due: Node.js SDK

fix(plugins): show as TOML
  rust/format/src/lib.rs
  rust/plugins/src/show.rs
Due: none

feat(myst plugin): implemented decoding of main myst blocks and inlines
  plugins/myst/src/decode/blocks.ts
  plugins/myst/src/decode/decode.test.ts
  plugins/myst/src/decode/index.ts
  plugins/myst/src/decode/inlines.ts
  plugins/myst/src/fixtures/list.md
  plugins/myst/src/fixtures/marks.md
  plugins/myst/src/fixtures/myst-sample.md
  plugins/myst/src/snapshots/blocks.json
  plugins/myst/src/snapshots/code.json
  plugins/myst/src/snapshots/list.json
  plugins/myst/src/snapshots/marks.json
  plugins/myst/src/snapshots/myst-sample.json
Due: none

Encoding basic inlines, Code and List
  plugins/myst/src/decode/blocks.ts
  plugins/myst/src/encode/blocks.ts
  plugins/myst/src/encode/inlines.ts
  plugins/myst/src/fixtures/blocks.json
  plugins/myst/src/fixtures/code.json
  plugins/myst/src/fixtures/list.json
  plugins/myst/src/fixtures/marks.json
  plugins/myst/src/snapshots/blocks.map
  plugins/myst/src/snapshots/blocks.md
  plugins/myst/src/snapshots/code.map
  plugins/myst/src/snapshots/code.md
  plugins/myst/src/snapshots/list.map
  plugins/myst/src/snapshots/list.md
  plugins/myst/src/snapshots/marks.map
  plugins/myst/src/snapshots/marks.md
  plugins/myst/src/snapshots/myst-sample.json
Due: none

feat(myst plugin): improve decoder, encoding advanced blocks and more inlines
  plugins/myst/src/decode/blocks.ts
  plugins/myst/src/encode/blocks.ts
  plugins/myst/src/encode/inlines.ts
  plugins/myst/src/fixtures/myst-sample.json
  plugins/myst/src/snapshots/myst-sample.map
  plugins/myst/src/snapshots/myst-sample.md
Due: none

feat(myst plugin): tidy up, implement a few more missing inlines
  plugins/myst/src/decode/blocks.ts
  plugins/myst/src/decode/inlines.ts
  plugins/myst/src/encode/inlines.ts
  plugins/myst/src/fixtures/marks.json
  plugins/myst/src/fixtures/marks.md
  plugins/myst/src/snapshots/marks.json
  plugins/myst/src/snapshots/marks.map
  plugins/myst/src/snapshots/marks.md
Due: none

fix(myst plugin): fix bundling and run command
  package-lock.json
  plugins/myst/.gitignore
  plugins/myst/Makefile
  plugins/myst/package.json
  plugins/myst/src/index.ts
  plugins/myst/stencila-plugin.toml
Due: none

feat(myst plugin): properly encode table figure type
  plugins/myst/src/encode/blocks.ts
  plugins/myst/src/snapshots/myst-sample.map
  plugins/myst/src/snapshots/myst-sample.md
Due: none

Added basicTransformations as suggested, implement heading and code
  package-lock.json
  plugins/myst/package.json
  plugins/myst/src/decode/blocks.ts
  plugins/myst/src/decode/index.ts
  plugins/myst/src/decode/inlines.ts
  plugins/myst/src/fixtures/blocks.md
  plugins/myst/src/fixtures/code.md
  plugins/myst/src/snapshots/blocks.json
  plugins/myst/src/snapshots/code.json
Due: none

feat(myst plugin): Implement additional blocks encoding/decoding
  package-lock.json
  plugins/myst/package.json
  plugins/myst/src/decode/blocks.ts
  plugins/myst/src/encode/blocks.ts
  plugins/myst/src/fixtures/more-blocks.json
  plugins/myst/src/fixtures/more-blocks.md
  plugins/myst/src/snapshots/more-blocks.json
  plugins/myst/src/snapshots/more-blocks.map
  plugins/myst/src/snapshots/more-blocks.md
Due: none

feat(node plugin): add support for codecs
  node/stencila-plugin/src/codec.ts
  node/stencila-plugin/src/plugin.ts
Due: Node.js SDK

feat(node plugins): add `toString` method for codecs
  node/stencila-plugin/src/codec.ts
Due: Node.js SDK

refactor(instuction-block): move suggestions into content
  web/src/nodes/instruction-block.ts
  web/src/nodes/instruction-message.ts
  web/src/nodes/suggestion-block.ts
  web/src/ui/nodes/icons-and-colours.ts
  web/src/ui/nodes/properties/author/index.ts
Due: none

refactor(webview client): renaming and typing of messages
  vscode/src/webviews.ts
  web/src/clients/webview.ts
Due: none

refactor(togglechip): add chip offsets methods to mixin
  web/src/ui/nodes/mixins/toggle-chip.ts
  web/src/ui/nodes/node-card/on-demand/utils.ts
Due: none

fix(rust): upgrade dependencies
  Cargo.lock
  node/stencila-node/Cargo.toml
  rust/codec-directory/Cargo.toml
  rust/common-dev/Cargo.toml
  rust/common/Cargo.toml
  rust/kernel-rhai/Cargo.toml
  rust/schema-gen/Cargo.toml
  rust/schema/Cargo.toml
  rust/server/Cargo.toml
Due: Node.js SDK

chore(web): linting
  web/src/ui/nodes/mixins/toggle-chip.ts
Due: none

chore(node plugin): formatting
  node/stencila-plugin/src/codec.ts
Due: Node.js SDK

chore(npm): update dev dependencies
  node/stencila-node/package.json
  package-lock.json
  package.json
Due: Node.js SDK

docs(cloud): add to `auth` readme
  cloud/api/auth/README.md
Due: none

chore(vscode extension): remove unused file
  vscode/.vscodeignore
  vscode/vsc-extension-quickstart.md
Due: none

chore(*): tidy top level `.gitignore`
  .gitignore
Due: none

refactor(vscode extension): build into `out/web`
  vscode/src/webviews.ts
  web/package.json
Due: none

build(vscode extension): use `vsce` to package extension
  vscode/.gitignore
  vscode/Makefile
  vscode/package-lock.json
  vscode/package.json
Due: none

ci(releases): fixup workflow descriptions
  .github/workflows/release-npm.yml
  .github/workflows/release-python.yml
Due: none

build(cli): create Gzip archive for more widespread support
  .github/workflows/release-cli.yml
  README.md
  install.sh
  rust/cli/src/upgrade.rs
  scripts/archive-binary.sh
Due: none

chore(stencila-node): upgrade dependencies
  node/Makefile
  node/stencila-node/Cargo.toml
  node/stencila-node/package.json
  package-lock.json
Due: Node.js SDK

chore(python/stencila): update dependencies
  python/stencila/pdm.lock
  python/stencila/pyproject.toml
Due: Python SDK
