Repository stencila/stencila: changes, and which Codecov flags are due for each by the changed paths.
All: CBOR, HTML, JATS, JSON, JSON5, JSON-LD, Markdown, Text, YAML, Node.js SDK, Python SDK

codecov.yml:

comment:
  layout: "header, flags, diff, components"

component_management:
  individual_components:
    - component_id: codec_cbor
      name: CBOR
      paths:
        - rust/codec-cbor/src/*

    - component_id: codec_html
      name: HTML
      paths:
        - rust/codec-html*/src/*

    - component_id: codec_jats
      name: JATS
      paths:
        - rust/codec-jats*/src/*

    - component_id: codec_json
      name: JSON
      paths:
        - rust/codec-json/src/*

    - component_id: codec_json5
      name: JSON5
      paths:
        - rust/codec-json5*/src/*

    - component_id: codec_jsonld
      name: JSON-LD
      paths:
        - rust/codec-jsonld/src/*

    - component_id: codec_markdown
      name: Markdown
      paths:
        - rust/codec-markdown*/src/*

    - component_id: codec_text
      name: Text
      paths:
        - rust/codec-text*/src/*

    - component_id: codec_yaml
      name: YAML
      paths:
        - rust/codec-yaml/src/*

    - component_id: sdk_node
      name: Node.js SDK
      paths:
        - node/*
        - node/**/*

    - component_id: sdk_python
      name: Python SDK
      paths:
        - python/*
        - python/**/*

test(kernels): allow time after kill before getting status
  rust/kernel/src/lib.rs
Due: none

fix(web executable): rename to `ExecutionMessage`
  web/src/nodes/executable.ts
Due: none

schema(execution message): fix description of `level` property
  schema/ExecutionMessage.yaml
Due: none

chore(npm): update `package-lock.json`
  package-lock.json
Due: none

chore(rust): upgrade to rust 1.76
  .github/workflows/bench.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  rust-toolchain.toml
Due: none

chore(rust): linting and formatting
  rust/assistant-ollama/src/lib.rs
  rust/assistant-specialized/src/lib.rs
  rust/assistant/src/lib.rs
  rust/cli/src/display.rs
  rust/codec-html-derive/src/lib.rs
  rust/codec-jsonld/src/lib.rs
  rust/codec-markdown-derive/src/lib.rs
  rust/codec-markdown/src/decode/content.rs
  rust/codec-markdown/src/decode/inlines.rs
  rust/kernel-bash/src/lib.rs
  rust/kernel-micro/src/lib.rs
  rust/kernel-node/src/lib.rs
  rust/kernel-python/src/lib.rs
  rust/kernel-rhai/src/lib.rs
  rust/kernel/src/lib.rs
  rust/node-store/src/lib.rs
  rust/node-store/src/utilities.rs
  rust/node-strip-derive/src/lib.rs
  rust/schema-gen/src/docs_codecs.rs
  rust/schema-gen/src/docs_types.rs
  rust/schema-gen/src/json_ld.rs
  rust/schema-gen/src/rust.rs
  rust/schema-gen/src/schema.rs
  rust/schema/src/prelude.rs
  rust/server/src/server.rs
Due: HTML, JSON-LD, Markdown

fix(object hint): use correct `@id` for `values` property
  json/ObjectHint.jsonld
  json/ObjectHint.schema.json
  python/python/stencila/types/_object_hint.py
  rust/schema/src/types/object_hint.rs
  schema/ObjectHint.yaml
  ts/src/types/ObjectHint.ts
Due: Python SDK

test(examples): update cbor files for instructions
  examples/nodes/instruction-block/instruction-block.cbor
  examples/nodes/instruction-block/instruction-block.cbor.zst
  examples/nodes/instruction-inline/instruction-inline.cbor
  examples/nodes/instruction-inline/instruction-inline.cbor.zst
Due: none

chore(python sdk): upgrade dev dependencies
  python/poetry.lock
  python/pyproject.toml
Due: Python SDK

fix(rust): upgrade `clap`
  Cargo.lock
  rust/common/Cargo.toml
Due: none

test(proptests): fix `proptest-high`
  rust/schema/src/proptests.rs
Due: none

chore(npm): upgrade dev dependencies
  package-lock.json
  package.json
Due: none

fix(cli): ignore ort warnings about using CPU
  rust/cli/src/cli.rs
Due: none

docs(ui): add docs for `NodeCard` styling functions
  web/src/nodes/helpers/node-card.ts
Due: none

fix(ui): style cards for instruction nodes according to view
  web/src/nodes/instruction-block.ts
  web/src/nodes/instruction-inline.ts
  web/src/nodes/instruction.ts
Due: none

feat(ui): add component for `AuthorRole`
  web/src/nodes/author-role.ts
  web/src/nodes/index.ts
Due: none

feat(server): add `~close` endpoint for closing a document
  rust/server/src/documents.rs
  rust/server/src/server.rs
Due: none

feat(app ui): add tabs for opening and closing docs
  web/src/apps/main.ts
  web/src/types.ts
  web/src/views/directory.ts
Due: none

chore(web): formatting
  web/src/nodes/helpers/node-card.ts
Due: none

refactor(node walking): Add `VisitorAsync` and unify visitor method names
  rust/assistants/src/lib.rs
  rust/node-authorship/src/lib.rs
  rust/node-walk-derive/src/lib.rs
  rust/schema/src/prelude.rs
  rust/schema/src/walk.rs
Due: none

refactor(schema): make `IfBlockClause.isActive` a core property and walk over clauses
  json/IfBlock.schema.json
  json/IfBlockClause.schema.json
  rust/schema/src/types/if_block.rs
  rust/schema/src/types/if_block_clause.rs
  schema/IfBlock.yaml
  schema/IfBlockClause.yaml
Due: none

refactor(schema): rename to `variable` and use `Section` for `iterations`
  json/ForBlock.jsonld
  json/ForBlock.schema.json
  json/SectionType.schema.json
  json/context.jsonld
  python/python/stencila/types/_for_block.py
  python/python/stencila/types/_section_type.py
  rust/codec-markdown/src/decode/blocks.rs
  rust/schema/src/implem/for_block.rs
  rust/schema/src/types/for_block.rs
  rust/schema/src/types/section_type.rs
  schema/ForBlock.yaml
  schema/SectionType.yaml
  ts/src/types/ForBlock.ts
  ts/src/types/SectionType.ts
Due: Python SDK

test(format): more tests for casing and aliases
  rust/format/src/lib.rs
Due: none

feat(timestamps): add `now` and `duration` methods
  rust/schema/src/implem/timestamp.rs
  rust/schema/src/prelude.rs
Due: none

feat(kernel): add `is_available` and `supports_language` methods to trait
  rust/kernel/src/lib.rs
Due: none

refactor(schema): changes to `ExecutionStatus` enum
  json/ExecutionStatus.schema.json
  python/python/stencila/types/_execution_status.py
  rust/schema/src/types/execution_status.rs
  schema/ExecutionStatus.yaml
  ts/src/types/ExecutionStatus.ts
Due: Python SDK

feat(execution): add `execute` CLI command
  Cargo.lock
  rust/cli/src/cli.rs
  rust/document/Cargo.toml
  rust/document/src/lib.rs
  rust/kernels/src/cli.rs
  rust/kernels/src/lib.rs
  rust/node-execute/Cargo.toml
  rust/node-execute/src/lib.rs
Due: none

test(examples): add examples for testing execution in kernels
  examples/README.md
  examples/kernels/code-chunk/bash.md
  examples/kernels/code-chunk/node.md
  examples/kernels/code-chunk/python.md
  examples/kernels/code-chunk/rhai.md
  examples/kernels/for-block/node.md
  examples/kernels/for-block/python.md
  examples/kernels/for-block/rhai.md
  examples/kernels/if-block/node.md
  examples/kernels/if-block/python.md
  examples/kernels/if-block/rhai.md
Due: none

fix(python sdk): upgrade and pin `beartype`
  python/poetry.lock
  python/pyproject.toml
Due: Python SDK
