Repository stencila/stencila: changes, and which Codecov flags are due for each by the changed paths.
All: CBOR, HTML, JATS, JSON, JSON5, JSON-LD, Markdown, Text, YAML, Node.js SDK, Python SDK

fix(typescript): avoid unused `@ts-expect-error`s
  rust/schema-gen/src/typescript.rs
  ts/src/types/Node.ts
  ts/src/types/PostalAddressOrString.ts
  ts/src/types/PropertyValueOrString.ts
  ts/src/types/StringPatchOrPrimitive.ts
Due: none

test(typescript): fix test that was correctly ts erroring
  ts/src/tests/factory.test.ts
Due: none

refactor(web): use proper `NodeType` discriminated union
  web/src/clients/format.ts
  web/src/types.ts
Due: none

refactor(): source view infobox
  web/src/languages/markdown/extensions/inlineStyleSyntax.ts
  web/src/languages/markdown/extensions/instructSyntax.ts
  web/src/nodes/heading.ts
  web/src/nodes/helpers/block-infobox.ts
  web/src/nodes/paragraph.ts
  web/src/views/source/gutters/index.ts
  web/src/views/source/infoSideBar.ts
  web/src/views/source/panels.ts
Due: none

chore: remove console logs
  web/src/clients/format.ts
  web/src/languages/markdown/extensions/mathSyntax.ts
  web/src/views/source/editorStyles.ts
  web/src/views/source/gutters/index.ts
Due: none

fix(ci): remove linting error
  web/src/languages/markdown/extensions/inlineStyleSyntax.ts
Due: none

fix(blockinfo): remove abstract delaraction on class
  web/src/nodes/helpers/block-infobox.ts
Due: none

feat(context): set up the main context to interact with sub-tree components
  package-lock.json
  web/package.json
  web/src/apps/main.css
  web/src/apps/main.ts
  web/src/contexts/sidebar-context.ts
  web/src/nodes/file.ts
  web/src/types.ts
  web/src/ui/buttons/icon.ts
  web/src/ui/file-tree/index.ts
  web/src/ui/sidebar/index.ts
  web/src/ui/view-container/index.ts
Due: none

chore: remove console.log
  web/src/clients/format.ts
Due: none

fix(python): allow python to find package
  python/Makefile
  python/pyproject.toml
  python/python/stencila/types/_array.py
  python/python/stencila/types/_cord.py
  python/python/stencila/types/_object.py
  python/python/stencila/types/_unsigned_integer.py
Due: Python SDK

chore(python): update lock file
  python/poetry.lock
Due: Python SDK

fix(python): regenerate new types
  python/python/stencila/types/_instruction.py
  python/python/stencila/types/_instruction_block.py
  python/python/stencila/types/_instruction_inline.py
Due: Python SDK

feat(python): continue adding shortcuts
  python/python/stencila/shortcuts.py
Due: Python SDK

feat(python): add initial shortcuts to test
  python/python/stencila/shortcuts.py
  python/python/tests/test_shortcuts.py
Due: Python SDK

fix(tree): added further styling refinements
  web/src/apps/main.ts
  web/src/twind.ts
  web/src/ui/buttons/icon.ts
  web/src/ui/file-tree/index.ts
  web/src/ui/sidebar/index.ts
  web/src/ui/view-container/index.ts
  web/src/views/directory.ts
  web/src/views/views.ts
Due: none

fix(icons): added buttons to add files and directories
  web/src/apps/main.ts
  web/src/apps/shoelace.ts
  web/src/assets/icons/add-directory.svg
  web/src/assets/icons/add-file.svg
  web/src/assets/icons/code-view.svg
  web/src/assets/icons/live-view.svg
  web/src/assets/icons/split-view.svg
  web/src/ui/buttons/icon.ts
  web/src/ui/file-tree/index.ts
  web/src/ui/view-container/index.ts
  web/src/views/directory.ts
Due: none

fix(sidebar): added buttons to select views
  web/src/apps/main.ts
  web/src/assets/icons/code-view.svg
  web/src/assets/icons/live-view.svg
  web/src/assets/icons/split-view.svg
  web/src/ui/buttons/icon.ts
  web/src/ui/file-tree/index.ts
  web/src/ui/sidebar/index.ts
  web/src/views/directory.ts
Due: none

feat(node): implement new executebox element
  web/src/nodes/helpers/block-executebox.ts
  web/src/nodes/instruction-block.ts
  web/src/nodes/instruction.ts
  web/src/nodes/list.ts
  web/src/nodes/paragraph.ts
  web/src/ui/nodes/nodeMapping.ts
  web/src/views/source/infoSideBar.ts
Due: none

feat(added-styling-to-the-authors): and the info block
  web/src/assets/icons/authors.svg
  web/src/nodes/heading.ts
  web/src/nodes/helpers/block-infobox.ts
  web/src/ui/nodes/nodeMapping.ts
  web/src/views/source/infoSideBar.ts
Due: none

feat(python): complete shortcuts as per rust
  python/python/stencila/shortcuts.py
Due: Python SDK

test(python): limited testing of shortcuts
  python/python/tests/test_shortcuts.py
Due: Python SDK

chore(python): begin adding ruff linting
  python/pyproject.toml
Due: Python SDK

fix(python): small fixes to existing code
  python/python/stencila/convert.py
  python/python/stencila/utilities.py
Due: Python SDK

chore(python): bump dependencies
  python/poetry.lock
Due: Python SDK

fix(python sdk): upgrade dependencies
  python/poetry.lock
  python/pyproject.toml
Due: Python SDK

chore(deps): upgrade npm dev dependencies
  package-lock.json
  package.json
Due: none

fix(web): upgrade dependencies
  package-lock.json
  web/package.json
Due: none

fix(rust): upgrade dependencies
  Cargo.lock
  node/Cargo.toml
  rust/assistant-openai/Cargo.toml
  rust/common/Cargo.toml
Due: Node.js SDK

chore(python sdk): update lock file
  python/poetry.lock
Due: Python SDK

chore(python sdk): update generated file
  python/python/stencila/types/_text.py
Due: Python SDK

chore(python sdk): formatting
  python/python/stencila/utilities.py
  python/python/tests/test_shortcuts.py
Due: Python SDK

refactor(web): use `NodeType` from '@stencila/types'
  web/src/nodes/helpers/block-executebox.ts
  web/src/nodes/helpers/block-infobox.ts
  web/src/ui/nodes/nodeMapping.ts
  web/src/views/source/gutters/component.ts
  web/src/views/source/gutters/index.ts
Due: none

fix(web): use same font in Shoelace components as elsewhere
  web/src/apps/main.css
Due: none

chore(web): order imports alphabetically
  web/src/apps/shoelace.ts
Due: none

Path conditions:
  CBOR: any of: rust/codec-cbor/src/*
  HTML: any of: rust/codec-html*/src/*
  JATS: any of: rust/codec-jats*/src/*
  JSON: any of: rust/codec-json/src/*
  JSON5: any of: rust/codec-json5*/src/*
  JSON-LD: any of: rust/codec-jsonld/src/*
  Markdown: any of: rust/codec-markdown*/src/*
  Text: any of: rust/codec-text*/src/*
  YAML: any of: rust/codec-yaml/src/*
  Node.js SDK: any of: node/*, node/**/*
  Python SDK: any of: python/*, python/**/*
